*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.DS_Store
.idea
*.egg-info
.aws-sam
upload_to_s3.sh
*.coverage
lambda-code/decompress_zip/target
curl_test.sh
update_stack.sh
venv
*.prefs
*.iml
*.jar
sdk/
.project
.classpath